<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <!--
      Since this solution is designed for Sitecore-first JSS workflow, remove editor
      warnings regarding import overwrites.
    -->
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
          <item.getItemNotifications>
            <processor type="Sitecore.JavaScriptServices.AppServices.Pipelines.GetItemNotifications.IsItemAllowedForOverwrite, Sitecore.JavaScriptServices.AppServices">
              <patch:delete />
            </processor>
          </item.getItemNotifications>
        </pipelines>
      </group>
      <group groupName="layoutService">
        <pipelines>
          <renderJsonRendering>
            <!--Sitecore 10.2-->
            <!--<processor type="Platform.Pipelines.RenderJsonRendering.Initialize, Platform" resolve="true"
                       patch:instead="*[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.Initialize, Sitecore.LayoutService']" />-->
            <!--Sitecore 10.3-->
            <processor type="Platform.Pipelines.RenderJsonRendering.Initialize, Platform" resolve="true"
                       patch:instead="*[@type='Sitecore.XA.Feature.LayoutServices.Integration.Pipelines.RenderJsonRendering.Initialize, Sitecore.XA.Feature.LayoutServices.Integration']" />
          </renderJsonRendering>
        </pipelines>
      </group>
    </pipelines>

    <layoutService>
      <configurations>
        <config name="sxa-jss" patch:source="Sitecore.XA.JSS.Foundation.SiteMetadata.config">
          <rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
            <itemSerializer type="Sitecore.XA.JSS.Foundation.Presentation.Serialization.SxaItemSerializer, Sitecore.XA.JSS.Foundation.Presentation">
              <patch:attribute name="type" value="Platform.Serialization.CustomSxaItemSerializer, Platform" />
            </itemSerializer>
            <renderingContentsResolver>
              <IncludeServerUrlInMediaUrls patch:instead="IncludeServerUrlInMediaUrls">false</IncludeServerUrlInMediaUrls>
            </renderingContentsResolver>
          </rendering>
        </config>
      </configurations>
    </layoutService>

  </sitecore>
</configuration>
